@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.infoContainer {
    font-family: 'Open Sans', sans-serif;
}
.infoSection h1 {

    font-size: 60px;
    margin-bottom: 60px;
}
.infoSection p {
    width: 720px;
    font-size: 25px;
}

.chatWithUsLinks {
    display:flex;
    margin-top:50px;
    
}
.icons img {
    height: 100px;
    width:100px;
    margin-right: 50px;
    
}
.formSection {
    margin-top: 170px;
    margin-left:50px ;
}

@media screen and (max-width:768px) {
    .formSection {
        margin-left: 350px;
        width: 100%;
    }

}